<% provide(:title, "Edit Event") %>
<div class="form-container">
	<h2> Edit Submission </h2>
	<%= simple_form_for @question, url: coin_question_path(@coin.id) do |f| %>

		<!-- For refactoring -->
		<div class="form-container__section">
			<% if @question.ques_num == 2 %>
				<%= f.input :term %>
				<%= f.input :description, label: 'Term Definition' %>
			<% elsif @question.ques_num == 3 %>
				<%= f.input :term, label: 'Key Player' %>
				<%= f.input :description, label: 'Key Player Definition' %>
			<% else %>
				<%#= f.input :content %>
				<%= f.cktext_area :content %>
			<% end %>
		</div>

		<div class="form-container__section">
			<% if can? :edit, Coin %>
				<p><b>Accept?</b></p>
				<div class="form-container__dropdown">
					<%= f.select :accepted, options_for_select([['Yes', true], ['No', false]]) %>
				</div>
			<% end %>

			<div class="form-container__horizontal-button-group">
				<%= hidden_field_tag(:coin_id, @coin.id) %>
				<%= f.button :submit, 'Submit', class: "primary-small" %>

				<% if can? :destroy, Question %>
					<%= link_to "Back to Submission", coin_question_path(@coin.id, @question.id), class: "secondary-small","data-turbolinks"=>"false"  %>
				<% end %>

				<% if @question.ques_num == 2 %>
					<%= link_to "Back to Submissions", coin_questions_path(@coin.id, :ques_num => 2), class: "secondary-small" %>
				<% elsif @question.ques_num == 3 %>
					<%= link_to "Back to Submissions", coin_questions_path(@coin.id, :ques_num => 3), class: "secondary-small" %>
				<% end %>

				<%= link_to "Add to Coin Page", edit_coin_path(@coin.id, :q => params[:id]), class: "secondary-small" %>
			</div>

		<% end %>
	</div>
</div>
